body
{
	overflow: hidden;
	font-family:Times New Roman;
	background-color: #FFF;
}

.admin-line {
	height:1px; width:100%; background-color:#181818; margin-bottom:10px;
}

.admin-box {
	width:80%; padding:10px;
}

.admin-field-box {
	float:left; width:180px;
}