body
        {
            margin: 0px;
			overflow: hidden;
			font-family:Times New Roman;
			background-color: #000;
        }
        #dvTopLeft
        {
            width: 65%;
            height: 25%;
            float: left;
        }
        #dvMiddleLeft
        {
            width: 65%;
            height: 67%;
            float: left;
			overflow:hidden;
        }
		
		#dvMiddleLeft img 
        {
            
        }
		
        #dvBottom
        {
            background-color: #000;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#000));
			background-image: -webkit-linear-gradient(top, #363636, #000);
			background-image: -moz-linear-gradient(top, #363636, #000);
			background-image: -o-linear-gradient(top, #363636, #000);
			background-image: linear-gradient(to bottom, #363636, #000);
            width: 100%;
            height: 8%;
            float: left;
        }
        #dvRight
        {
            width: 35%;
            height: 92%;
            left: 65%;
            position:absolute;
			overflow:hidden;
        }
        #imgTopLeft {
            width:100%;
            height:100%;
        }
		#dvNews {
            width:100%;
			height: 8%;
			top: 15%;
			position:relative;
			font-size:2.2em;
			text-align:center;
			color: #FFF;
			font-weight:bold;
        }
		
		#dvStocks {
            width:100%;
			margin-top:1%;
        }
		
		.dvStockUp {
			top:15%;
			position:relative;
			font-size:220%;
			text-align:center;
			color: #3ECC2B;
			float:left;
			width:33%;
        }
		.dvStockDown {
			top:15%;
			position:relative;
			font-size:220%;
			text-align:center;
			color: #C92222;
			float:left;
			width:33%;
        }
		
		.weather {
			width:100%;
			background-image:url(../images/Weather/background.jpg);
			height:100%;
		}
		.weather-icon-div {
			float:left;
			top:17%;
			position: relative;
		}
		.weather-info-div {
			float:left;
			font-family:Verdana, Geneva, sans-serif;
			width:83%;
			padding-top:10px;
		}
		.weather-info-header {
			font-size:28px;
			font-weight:bold;
			color:#333;
			text-align:center;
			width:100%;
			float:left;
		}
		.weather-info-current {
			font-size:100px;
			font-weight:bold;
			color:#FFF;
			float:left;
		}
		
		.weather-info-highs {
			font-size:36px;
			font-weight:bold;
			color:#FFF;
			float:right;
			margin-top:14px;
		}
		
		.weather-info-forecast {
			font-size:18px;
			font-weight:bold;
			color:#333;
			text-align:center;
			float:right;
		}